<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- ⭐️ 配列 -->
      <ul>
        <li v-for="(value, index) in members">{{ index }} : {{ value }}</li>
      </ul>
      <!-- ⭐️ オブジェクト -->
      <ul>
        <li v-for="(value, key, index) in book">
          {{ index }} : {{ key }} : {{ value }}
        </li>
      </ul>
    </div>

    <script>
      const app = new Vue({
        el: '#app',
        data() {
          return {
            members: ['本田', '香川', '長友'],
            book: {
              title: 'タイトル',
              author: '著者',
              url: 'https://www.google.com',
            },
          };
        },
      });
    </script>
  </body>
</html>
